.errorMessage {
    color: red;
    font-size: 7;
    margin-left: 6;
    margin-top: -10;
}


.frame {
    margin-left: 10;
    margin-right: 10;
}

.input {
    font-size: 12;
}

.fnt_9 {
    font-size: 9;
}

.mrgt10 {
    margin: 10;
}

.link {
    background-color: white;
    font-size:8;
    margin-top:-10;
    padding:0;
   color:blue;
}

ToolbarItems{
    height:10;
}

#logout{
    font:8;
}

.intro{
    margin:5;
   
}
.introlbl{
    font-size:9;
    text-align:center; 
}


.bld {
    font-weight: bold;
    text-align:center;
    color:brown;
}
.linkbutton{  
    font-size:9; 
}
.mainstyle{
    margin-left:10;
    margin-right:10;
}
.wth50{
    min-width:200;
}